/* ==========================================================================
   Custom skin
   ========================================================================== */


/* Colors */
$background-color: #292D3E !default;
$text-color: #fff !default;
$muted-text-color: #A6ACC3 !default;
$primary-color: #1B1E2B !default;
$border-color: mix(#fff, #393e46, 75%) !default;
/*뭐지?*/
$footer-background-color: $primary-color !default;
$link-color: #89DDFF !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
/*뭐지?*/
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  color: #A6ACC3 !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}